<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu</title>
</head>


    <h1>Edit Menu</h1>
    <form action="/menus/<%=menu._id%>?_method=PUT" method="POST">
        <div>
            <label for="breakfast">Breakfast</label>
            <input type="text" id="breakfast" name="breakfast[variable_breakfast]" placeholder="add breakfast" >
        </div>
        <div>
            <label for="lunch">Lunch</label>
            <input type="text" id="lunch" name="lunch[variable_sabji]" placeholder="add Sabji" >
        </div>
        <div>
            <label for="dinner">Dinner</label>
            <input type="text" id="dinner" name="dinner[variable_sabji]" placeholder="add Sabji" >
           <input type="text" id="dinner" name="dinner[variable_sweets]" placeholder="add Sweets" >
        </div>
        <button >Update Menu</button>
    </form>
    <a href="/menus/<%= menu._id%>">Back To Menu</a>

