<% layout('layouts/boilerplate')%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>
</head>

<h1>All Menus</h1>
    <ul>
        <% for (let menu of menus){%>
        <li><a href="/menus/<%= menu._id %>"><%= menu.weekday %></a></li>
        <% }%>
    </u>